In [6]:
#importing basic necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
#loading data
df=pd.read_csv("data/data.csv")

In [8]:
#will have look at our data
df

,timestamp,equipment_energy_consumption,lighting_energy,zone1_temperature,zone1_humidity,zone2_temperature,zone2_humidity,zone3_temperature,zone3_humidity,zone4_temperature,...,zone9_temperature,zone9_humidity,outdoor_temperature,atmospheric_pressure,outdoor_humidity,wind_speed,visibility_index,dew_point,random_variable1,random_variable2
0,2016-01-11 17:00:00,60.0,-77.78778596503064,33.74660933896648,47.59666666666671,19.2,44.790000,19.79,NaN,19.000000,...,17.033333,45.53,6.600000,733.500000,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60.0,30.0,19.89,46.69333333333329,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.600000,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50.0,30.0,19.89,46.3,19.2,44.626667,19.79,44.933333,35.921144,...,17.000000,45.50,6.366667,733.700000,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50.0,40.0,33.74660933896648,46.0666666666667,19.2,44.590000,19.79,45.000000,NaN,...,17.000000,45.40,6.250000,733.800000,92.000000,6.000000,51.500000,37.673716,45.410389,45.410389
4,2016-01-11 17:40:00,60.0,40.0,19.89,46.33333333333329,19.2,44.530000,19.79,45.000000,18.890000,...,4.476511,45.40,6.133333,733.900000,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16852,2016-10-03 20:10:00,1139.9856929495108,20.0,22.1,38.723333333333294,19.79,39.566667,21.29,38.845000,21.390000,...,18.100000,40.09,5.816667,761.466667,68.333333,2.000000,64.666667,0.366667,10.707282,10.707282
16853,2016-10-04 06:10:00,50.0,86.00296632575207,21.29,39.6266666666667,18.1,44.290000,22.39,38.760000,NaN,...,20.200000,44.50,3.683333,752.250000,96.666667,1.000000,18.000000,3.150000,49.199695,49.199695
16854,2016-11-03 00:50:00,50.0,0.0,21.39,37.59,18.463333333333296,39.966667,21.10,37.790000,20.600000,...,18.100000,40.20,1.750000,763.000000,84.166667,1.000000,60.833333,-0.633333,6.905370,6.905370
16855,2016-11-04 13:20:00,80.0,0.0,22.5,39.36,23.6,35.730000,23.10,38.000000,22.290000,...,21.100000,39.53,16.800000,750.166667,50.333333,6.000000,40.000000,6.266667,25.020775,25.020775
16856,2016-12-01 15:50:00,30.0,0.0,20.066666666666695,43.863333333333294,19.1333333333333,42.863333,19.89,44.760000,19.600000,...,17.166667,43.79,6.400000,743.883333,81.000000,4.166667,40.000000,3.400000,26.301386,NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16857 entries, 0 to 16856
Data columns (total 29 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   timestamp                     16857 non-null  object
 1   equipment_energy_consumption  16013 non-null  object
 2   lighting_energy               16048 non-null  object
 3   zone1_temperature             15990 non-null  object
 4   zone1_humidity                16056 non-null  object
 5   zone2_temperature             16004 non-null  object
 6   zone2_humidity                15990 non-null  float64
 7   zone3_temperature             16055 non-null  float64
 8   zone3_humidity                15979 non-null  float64
 9   zone4_temperature             16041 non-null  float64
 10  zone4_humidity                16076 non-null  float64
 11  zone5_temperature             16019 non-null  float64
 12  zone5_humidity                16056 non-null  float64
 13  zone6_temperature             16009 non-null  float64
 14  zone6_humidity                16010 non-null  float64
 15  zone7_temperature             16063 non-null  float64
 16  zone7_humidity                16052 non-null  float64
 17  zone8_temperature             16009 non-null  float64
 18  zone8_humidity                16080 non-null  float64
 19  zone9_temperature             16084 non-null  float64
 20  zone9_humidity                15969 non-null  float64
 21  outdoor_temperature           16051 non-null  float64
 22  atmospheric_pressure          16015 non-null  float64
 23  outdoor_humidity              16058 non-null  float64
 24  wind_speed                    16029 non-null  float64
 25  visibility_index              16042 non-null  float64
 26  dew_point                     16031 non-null  float64
 27  random_variable1              16031 non-null  float64
 28  random_variable2              16033 non-null  float64
dtypes: float64(23), object(6)
memory usage: 3.7+ MB

In [10]:
#we can see top 6 cols are object and we also need to separate time stamp data

In [11]:
#We will work on each colum one by one first lets separate data from timestamp
df['timestamp'] = pd.to_datetime(df['timestamp'])

# Extract components

df['day'] = df['timestamp'].dt.day
df['month'] = df['timestamp'].dt.month
df['year'] = df['timestamp'].dt.year
df['hour'] = df['timestamp'].dt.hour
df['minute'] = df['timestamp'].dt.minute
df['second'] = df['timestamp'].dt.second
#will drop timestamp as it is no longer required
df.drop("timestamp",axis=1,inplace=True)

In [12]:
#while going through the data i saw the year is 2016 at most of the places.i need to check if it is constant then we need to remove such data

In [13]:
#lets check the uniqueness

In [14]:
df.year.unique()

array([2016], dtype=int32)

In [15]:
#see only value present is 2016 so we can drop this

In [16]:
df.drop("year",inplace=True,axis=1)

In [17]:
#now lets check for other cols that we separated

In [18]:
df.day.unique()

array([11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27,
       28, 29, 30, 31,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10],
      dtype=int32)

In [19]:
df.month.unique()

array([ 1,  2,  3,  4,  5,  7,  8,  9, 10, 11, 12], dtype=int32)

In [20]:
df.second.unique()

array([0], dtype=int32)

In [21]:
#need to drop above col too as it only has value 0

In [22]:
df.drop("second",inplace=True,axis=1)

In [23]:
df.minute.unique()

array([ 0, 10, 20, 30, 40, 50], dtype=int32)

In [24]:
df.hour.unique()

array([17, 18, 19, 20, 21, 22, 23,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
       10, 11, 12, 13, 14, 15, 16], dtype=int32)

In [25]:
#lets have a look at data again
df.head(2)

,equipment_energy_consumption,lighting_energy,zone1_temperature,zone1_humidity,zone2_temperature,zone2_humidity,zone3_temperature,zone3_humidity,zone4_temperature,zone4_humidity,...,outdoor_humidity,wind_speed,visibility_index,dew_point,random_variable1,random_variable2,day,month,hour,minute
0,60.0,-77.78778596503064,33.74660933896648,47.59666666666671,19.2,44.7900,19.79,NaN,19.0,45.566667,...,92.0,7.000000,63.000000,5.3,13.275433,13.275433,11,1,17,0
1,60.0,30.0,19.89,46.69333333333329,19.2,44.7225,19.79,44.79,19.0,45.992500,...,92.0,6.666667,59.166667,5.2,18.606195,18.606195,11,1,17,10

In [26]:
#we still need to work on cols which have object data type

In [27]:
#lets work on equipment_energy_consumption

In [28]:
df.equipment_energy_consumption.unique()

array(['60.0', '50.0', nan, '70.0', '230.0', '580.0', '430.0', '250.0',
       '100.0', '90.0', '80.0', '140.0', '120.0', '190.0', '110.0',
       '400.0', '390.0', '240.0', '40.0', '30.0', '310.0', '380.0',
       '370.0', '20.0', '-110.0', '260.0', '500.0', '450.0', '220.0',
       '170.0', '290.0', '130.0', '200.0', '210.0', '-50.0', '-20.0',
       '-944.5664110012307', '350.0', '300.0', '-400.0', '340.0', '150.0',
       '330.0', '420.0', '520.0', '360.0', '-270.0', '-30.0', '180.0',
       '550.0', '690.0', '620.0', '610.0', '490.0', '410.0', '320.0',
       '270.0', '740.0', '910.0', '510.0', '790.0', '1139.9856929495108',
       '-40.0', 'error', '460.0', '160.0', '480.0', '280.0', '-220.0',
       '560.0', '1080.0', '750.0', '???', '470.0', '440.0', '-80.0',
       '800.0', '-790.0', '540.0', '530.0', 'check', '660.0', '630.0',
       '600.0', '10.0', '570.0', '830.0', '1070.0', '890.0', '590.0',
       '-1139.9856929495108', '850.0', '710.0', '680.0', '-120.0',
       '-310.0', 'unknown', '-60.0', '670.0', '780.0', '-450.0', '640.0',
       '650.0', '700.0', '-70.0', '-130.0', '-280.0', '-100.0', '-340.0',
       '-150.0', '770.0', '-230.0', '720.0', '-250.0', '-680.0', '760.0',
       '-140.0', '860.0', '-90.0', '-500.0', '880.0', '-440.0', '730.0',
       '900.0', '-330.0', '820.0', '870.0', '-160.0', '840.0', '-610.0',
       '-200.0'], dtype=object)

In [29]:
# i can see there are -ve as well as unknown values

In [30]:
df['equipment_energy_consumption'] = pd.to_numeric(df['equipment_energy_consumption'], errors='coerce')

In [31]:
#above line will covert data which is numeric to float and data which is non numeric like unknown as NaN

In [32]:
df.equipment_energy_consumption.unique()

array([   60.        ,    50.        ,            nan,    70.        ,
         230.        ,   580.        ,   430.        ,   250.        ,
         100.        ,    90.        ,    80.        ,   140.        ,
         120.        ,   190.        ,   110.        ,   400.        ,
         390.        ,   240.        ,    40.        ,    30.        ,
         310.        ,   380.        ,   370.        ,    20.        ,
        -110.        ,   260.        ,   500.        ,   450.        ,
         220.        ,   170.        ,   290.        ,   130.        ,
         200.        ,   210.        ,   -50.        ,   -20.        ,
        -944.566411  ,   350.        ,   300.        ,  -400.        ,
         340.        ,   150.        ,   330.        ,   420.        ,
         520.        ,   360.        ,  -270.        ,   -30.        ,
         180.        ,   550.        ,   690.        ,   620.        ,
         610.        ,   490.        ,   410.        ,   320.        ,
         270.        ,   740.        ,   910.        ,   510.        ,
         790.        ,  1139.98569295,   -40.        ,   460.        ,
         160.        ,   480.        ,   280.        ,  -220.        ,
         560.        ,  1080.        ,   750.        ,   470.        ,
         440.        ,   -80.        ,   800.        ,  -790.        ,
         540.        ,   530.        ,   660.        ,   630.        ,
         600.        ,    10.        ,   570.        ,   830.        ,
        1070.        ,   890.        ,   590.        , -1139.98569295,
         850.        ,   710.        ,   680.        ,  -120.        ,
        -310.        ,   -60.        ,   670.        ,   780.        ,
        -450.        ,   640.        ,   650.        ,   700.        ,
         -70.        ,  -130.        ,  -280.        ,  -100.        ,
        -340.        ,  -150.        ,   770.        ,  -230.        ,
         720.        ,  -250.        ,  -680.        ,   760.        ,
        -140.        ,   860.        ,   -90.        ,  -500.        ,
         880.        ,  -440.        ,   730.        ,   900.        ,
        -330.        ,   820.        ,   870.        ,  -160.        ,
         840.        ,  -610.        ,  -200.        ])

In [33]:
#now i dont see any non-numeric data

In [34]:
#lets check how many nan values are there

In [35]:
df.equipment_energy_consumption.isnull().sum()

np.int64(912)

In [36]:
#equipment_energy_consumption this is our target feature so we will simply remove records with nan values as they are not of any use

In [37]:
#and one more thing to notice energy consumption cant be -ve so i am removing that too

In [38]:
(df['equipment_energy_consumption'] < 0).sum()

np.int64(314)

In [39]:
df = df[df['equipment_energy_consumption'].notna() & (df['equipment_energy_consumption'] >= 0)]

In [40]:
df.shape

(15631, 32)

In [41]:
#we removed few records

In [42]:
df.describe()

,equipment_energy_consumption,zone2_humidity,zone3_temperature,zone3_humidity,zone4_temperature,zone4_humidity,zone5_temperature,zone5_humidity,zone6_temperature,zone6_humidity,...,outdoor_humidity,wind_speed,visibility_index,dew_point,random_variable1,random_variable2,day,month,hour,minute
count,15631.000000,14828.000000,14886.000000,14823.000000,14873.000000,14911.000000,14860.000000,14897.000000,14844.000000,14850.000000,...,14893.000000,14867.000000,14883.000000,14881.000000,14858.000000,14867.000000,15631.000000,15631.000000,15631.000000,15631.000000
mean,108.584711,39.501397,21.669488,38.176231,20.238371,37.925650,19.053025,50.333011,6.500785,59.134224,...,79.033698,4.182040,38.412814,2.771432,24.824855,25.146877,15.853880,2.774231,11.489796,25.006078
std,148.628836,10.044737,2.603906,10.155610,2.803067,10.766489,2.348941,18.857234,8.827877,52.383943,...,28.399240,4.419638,21.411845,6.047731,26.269840,25.574001,8.801908,1.178889,6.935283,17.102256
min,10.000000,-77.265503,6.543921,-71.406273,4.613485,-81.446225,5.921094,-141.640143,-42.987365,-353.393026,...,-221.668765,-20.929527,-82.329792,-32.098095,-120.170177,-120.409590,1.000000,1.000000,0.000000,0.000000
25%,50.000000,37.745000,20.533333,36.626667,19.263333,35.188810,18.066667,45.290000,2.929167,36.997500,...,71.000000,2.000000,29.000000,0.450000,12.174779,12.229145,8.000000,2.000000,5.000000,10.000000
50%,60.000000,40.290000,21.790000,38.400000,20.290000,38.090000,19.071825,48.826667,6.263333,62.553333,...,84.166667,4.000000,40.000000,2.766667,24.883977,24.905165,16.000000,3.000000,11.000000,30.000000
75%,100.000000,43.000000,22.763333,41.412500,21.375714,41.545000,20.100000,53.930000,9.690000,86.590000,...,91.904762,6.000000,40.000000,5.300000,37.977137,38.025468,23.000000,4.000000,17.500000,40.000000
max,1139.985693,77.265503,36.823982,71.406273,35.921144,81.446225,32.157594,141.640143,55.932271,353.393026,...,221.668765,29.318719,159.606156,37.673716,170.156325,170.329617,31.000000,12.000000,23.000000,50.000000

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15631 entries, 0 to 16856
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   equipment_energy_consumption  15631 non-null  float64
 1   lighting_energy               14896 non-null  object
 2   zone1_temperature             14829 non-null  object
 3   zone1_humidity                14884 non-null  object
 4   zone2_temperature             14839 non-null  object
 5   zone2_humidity                14828 non-null  float64
 6   zone3_temperature             14886 non-null  float64
 7   zone3_humidity                14823 non-null  float64
 8   zone4_temperature             14873 non-null  float64
 9   zone4_humidity                14911 non-null  float64
 10  zone5_temperature             14860 non-null  float64
 11  zone5_humidity                14897 non-null  float64
 12  zone6_temperature             14844 non-null  float64
 13  zone6_humidity                14850 non-null  float64
 14  zone7_temperature             14910 non-null  float64
 15  zone7_humidity                14876 non-null  float64
 16  zone8_temperature             14845 non-null  float64
 17  zone8_humidity                14904 non-null  float64
 18  zone9_temperature             14920 non-null  float64
 19  zone9_humidity                14814 non-null  float64
 20  outdoor_temperature           14881 non-null  float64
 21  atmospheric_pressure          14849 non-null  float64
 22  outdoor_humidity              14893 non-null  float64
 23  wind_speed                    14867 non-null  float64
 24  visibility_index              14883 non-null  float64
 25  dew_point                     14881 non-null  float64
 26  random_variable1              14858 non-null  float64
 27  random_variable2              14867 non-null  float64
 28  day                           15631 non-null  int32
 29  month                         15631 non-null  int32
 30  hour                          15631 non-null  int32
 31  minute                        15631 non-null  int32
dtypes: float64(24), int32(4), object(4)
memory usage: 3.7+ MB

In [44]:
#we still need to work on those 4 cols which have object dtype

In [45]:
#will do same process for other cols

In [46]:
df['lighting_energy'] = pd.to_numeric(df['lighting_energy'], errors='coerce')

C:\Users\bhatk\AppData\Local\Temp\ipykernel_15812\1034915347.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lighting_energy'] = pd.to_numeric(df['lighting_energy'], errors='coerce')

In [47]:
df.lighting_energy.isnull().sum()

np.int64(787)

In [48]:
(df['lighting_energy'] < 0).sum()

np.int64(216)

In [49]:
df = df[(df['lighting_energy'] >= 0)]

In [50]:
df.shape

(14628, 32)

In [51]:
df.lighting_energy.value_counts()

lighting_energy
0.000000     10968
10.000000     1750
20.000000     1245
30.000000      436
86.002966      156
40.000000       65
50.000000        6
60.000000        1
70.000000        1
Name: count, dtype: int64

In [52]:
#we dont have -ve vaalue now for energy

In [53]:
df['zone1_temperature'] = pd.to_numeric(df['zone1_temperature'], errors='coerce')
df.zone1_temperature.isnull().sum()

np.int64(823)

In [54]:
df['zone1_humidity'] = pd.to_numeric(df['zone1_humidity'], errors='coerce')
df.zone1_humidity.isnull().sum()

np.int64(770)

In [55]:
(df['zone1_humidity'] < 0).sum()

np.int64(129)

In [56]:
# as i saw most of cols have -ve values but when i went thrugh the data i felt like this is basically a data entry mistake (i am deciding to remove -ve sign)

In [57]:
#some cols cant be -ve like beow

In [58]:
non_negative_cols=["equipment_energy_consumption","lighting_energy","zone1_humidity","zone2_humidity","zone3_humidity","zone4_humidity",
                   "zone5_humidity","zone6_humidity","zone7_humidity","zone8_humidity","zone9_humidity","atmospheric_pressure",
                   "outdoor_humidity","wind_speed","visibility_index"
                  ]

In [59]:
df[non_negative_cols] = df[non_negative_cols].abs()

In [60]:
#lets check if we have -ve values

In [61]:
(df['zone1_humidity'] < 0).sum()

np.int64(0)

In [62]:
(df['zone3_humidity'] < 0).sum()

np.int64(0)

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14628 entries, 1 to 16856
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   equipment_energy_consumption  14628 non-null  float64
 1   lighting_energy               14628 non-null  float64
 2   zone1_temperature             13805 non-null  float64
 3   zone1_humidity                13858 non-null  float64
 4   zone2_temperature             13890 non-null  object
 5   zone2_humidity                13865 non-null  float64
 6   zone3_temperature             13937 non-null  float64
 7   zone3_humidity                13869 non-null  float64
 8   zone4_temperature             13912 non-null  float64
 9   zone4_humidity                13956 non-null  float64
 10  zone5_temperature             13910 non-null  float64
 11  zone5_humidity                13932 non-null  float64
 12  zone6_temperature             13888 non-null  float64
 13  zone6_humidity                13900 non-null  float64
 14  zone7_temperature             13955 non-null  float64
 15  zone7_humidity                13926 non-null  float64
 16  zone8_temperature             13888 non-null  float64
 17  zone8_humidity                13945 non-null  float64
 18  zone9_temperature             13962 non-null  float64
 19  zone9_humidity                13870 non-null  float64
 20  outdoor_temperature           13932 non-null  float64
 21  atmospheric_pressure          13898 non-null  float64
 22  outdoor_humidity              13932 non-null  float64
 23  wind_speed                    13914 non-null  float64
 24  visibility_index              13927 non-null  float64
 25  dew_point                     13925 non-null  float64
 26  random_variable1              13922 non-null  float64
 27  random_variable2              13911 non-null  float64
 28  day                           14628 non-null  int32
 29  month                         14628 non-null  int32
 30  hour                          14628 non-null  int32
 31  minute                        14628 non-null  int32
dtypes: float64(27), int32(4), object(1)
memory usage: 3.5+ MB

In [64]:
#lets change zone2 temperature

In [65]:
df['zone2_temperature'] = pd.to_numeric(df['zone2_temperature'], errors='coerce')

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14628 entries, 1 to 16856
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   equipment_energy_consumption  14628 non-null  float64
 1   lighting_energy               14628 non-null  float64
 2   zone1_temperature             13805 non-null  float64
 3   zone1_humidity                13858 non-null  float64
 4   zone2_temperature             13829 non-null  float64
 5   zone2_humidity                13865 non-null  float64
 6   zone3_temperature             13937 non-null  float64
 7   zone3_humidity                13869 non-null  float64
 8   zone4_temperature             13912 non-null  float64
 9   zone4_humidity                13956 non-null  float64
 10  zone5_temperature             13910 non-null  float64
 11  zone5_humidity                13932 non-null  float64
 12  zone6_temperature             13888 non-null  float64
 13  zone6_humidity                13900 non-null  float64
 14  zone7_temperature             13955 non-null  float64
 15  zone7_humidity                13926 non-null  float64
 16  zone8_temperature             13888 non-null  float64
 17  zone8_humidity                13945 non-null  float64
 18  zone9_temperature             13962 non-null  float64
 19  zone9_humidity                13870 non-null  float64
 20  outdoor_temperature           13932 non-null  float64
 21  atmospheric_pressure          13898 non-null  float64
 22  outdoor_humidity              13932 non-null  float64
 23  wind_speed                    13914 non-null  float64
 24  visibility_index              13927 non-null  float64
 25  dew_point                     13925 non-null  float64
 26  random_variable1              13922 non-null  float64
 27  random_variable2              13911 non-null  float64
 28  day                           14628 non-null  int32
 29  month                         14628 non-null  int32
 30  hour                          14628 non-null  int32
 31  minute                        14628 non-null  int32
dtypes: float64(28), int32(4)
memory usage: 3.5 MB

In [67]:
#now evrything is numeric and we also have dealth with -ve values

In [68]:
#lets check for df.non_negative_cols  cols that they have non -ve value

In [69]:
for col in non_negative_cols:
    num_negatives = (df[col] < 0).sum()
    if num_negatives > 0:
        print(f"Column '{col}' has {num_negatives} negative values.")
    else:
        print(f"Column '{col}' has no negative values.")

Column 'equipment_energy_consumption' has no negative values.
Column 'lighting_energy' has no negative values.
Column 'zone1_humidity' has no negative values.
Column 'zone2_humidity' has no negative values.
Column 'zone3_humidity' has no negative values.
Column 'zone4_humidity' has no negative values.
Column 'zone5_humidity' has no negative values.
Column 'zone6_humidity' has no negative values.
Column 'zone7_humidity' has no negative values.
Column 'zone8_humidity' has no negative values.
Column 'zone9_humidity' has no negative values.
Column 'atmospheric_pressure' has no negative values.
Column 'outdoor_humidity' has no negative values.
Column 'wind_speed' has no negative values.
Column 'visibility_index' has no negative values.

In [70]:
#we are good to go now

In [71]:
df.isnull().sum()

equipment_energy_consumption      0
lighting_energy                   0
zone1_temperature               823
zone1_humidity                  770
zone2_temperature               799
zone2_humidity                  763
zone3_temperature               691
zone3_humidity                  759
zone4_temperature               716
zone4_humidity                  672
zone5_temperature               718
zone5_humidity                  696
zone6_temperature               740
zone6_humidity                  728
zone7_temperature               673
zone7_humidity                  702
zone8_temperature               740
zone8_humidity                  683
zone9_temperature               666
zone9_humidity                  758
outdoor_temperature             696
atmospheric_pressure            730
outdoor_humidity                696
wind_speed                      714
visibility_index                701
dew_point                       703
random_variable1                706
random_variable2                717
day                               0
month                             0
hour                              0
minute                            0
dtype: int64

In [72]:
#we still have many NaN values

In [73]:
#we cants drop they as we will lost too much data

In [74]:
#we can replace them with median()

In [75]:
#i prefer median over mean as it is less sensitive to outliers

In [76]:
df = df.fillna(df.median(numeric_only=True))

In [77]:
#now again lets check id there are any NaN values

In [78]:
df.isnull().sum()

equipment_energy_consumption    0
lighting_energy                 0
zone1_temperature               0
zone1_humidity                  0
zone2_temperature               0
zone2_humidity                  0
zone3_temperature               0
zone3_humidity                  0
zone4_temperature               0
zone4_humidity                  0
zone5_temperature               0
zone5_humidity                  0
zone6_temperature               0
zone6_humidity                  0
zone7_temperature               0
zone7_humidity                  0
zone8_temperature               0
zone8_humidity                  0
zone9_temperature               0
zone9_humidity                  0
outdoor_temperature             0
atmospheric_pressure            0
outdoor_humidity                0
wind_speed                      0
visibility_index                0
dew_point                       0
random_variable1                0
random_variable2                0
day                             0
month                           0
hour                            0
minute                          0
dtype: int64

In [79]:
#good we got no null value

In [80]:
#now lets check for corelation with our target col

In [81]:
correlations = df.corr(numeric_only=True)['equipment_energy_consumption'].sort_values(ascending=False)
print(correlations)

equipment_energy_consumption    1.000000
hour                            0.148416
lighting_energy                 0.097414
zone2_temperature               0.050420
zone3_temperature               0.039592
outdoor_temperature             0.039282
zone1_humidity                  0.038539
zone6_temperature               0.033800
zone1_temperature               0.030467
wind_speed                      0.029838
zone4_temperature               0.027392
zone3_humidity                  0.021299
zone8_temperature               0.012441
zone9_temperature               0.012117
dew_point                       0.010237
zone5_temperature               0.007106
zone5_humidity                  0.006572
zone4_humidity                  0.005046
visibility_index                0.005022
minute                          0.002646
zone7_temperature               0.001085
month                          -0.003680
random_variable2               -0.007603
day                            -0.007671
random_variable1               -0.011098
atmospheric_pressure           -0.016714
zone7_humidity                 -0.019608
zone2_humidity                 -0.019961
zone6_humidity                 -0.021338
zone9_humidity                 -0.026539
zone8_humidity                 -0.051147
outdoor_humidity               -0.066081
Name: equipment_energy_consumption, dtype: float64

#conclusion

Strongest Correlation (Self):

equipment_energy_consumption has a perfect correlation with itself (1.000), as expected.

Moderately Positive Correlation:

hour (0.15): Suggests some time-of-day effect — energy use may be higher during working hours.

lighting_energy (0.097): Indicates that lighting usage is somewhat aligned with equipment energy use, but the correlation is not strong.

zone2_temperature (0.050) and other zone temperatures (0.01–0.05): Weak positive influence, possibly due to HVAC-related equipment usage.

Weak or Negligible Correlations:

Most temperature, humidity, and environmental variables (e.g., wind_speed, dew_point, visibility_index) have very low correlation (<0.05), implying a minimal direct relationship.

Negative Correlations:

outdoor_humidity (–0.066): Slight inverse relation — high humidity might slightly reduce internal equipment use (possibly due to HVAC adjustment).

Other humidity and random variables (e.g., zone8_humidity, atmospheric_pressure) also show weak negative correlations, likely not practically significant.

In [82]:
#now lets deal with outliers this might increase corelation as ouliers sometimes affect the corelation

In [83]:
# Define a function to remove outliers using IQR
def remove_outliers_iqr(df, cols):
    for col in cols:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower = Q1 - 1.5 * IQR
        upper = Q3 + 1.5 * IQR
        df = df[(df[col] >= lower) & (df[col] <= upper)]
    return df

# Remove outliers for key numerical columns
df_clean = remove_outliers_iqr(df.copy(), df.select_dtypes(include='number').columns)

# Recalculate correlation
correlations_clean = df_clean.corr(numeric_only=True)['equipment_energy_consumption'].sort_values(ascending=False)
print(correlations_clean)

equipment_energy_consumption    1.000000
hour                            0.348319
zone8_temperature               0.279279
zone2_temperature               0.267131
zone6_temperature               0.243109
outdoor_temperature             0.224840
zone1_temperature               0.217857
zone9_temperature               0.182050
zone7_temperature               0.176840
zone3_temperature               0.175902
zone4_temperature               0.172146
zone5_temperature               0.164409
month                           0.095955
dew_point                       0.086681
wind_speed                      0.072890
day                             0.066185
visibility_index                0.045242
zone1_humidity                  0.036593
minute                         -0.007676
random_variable1               -0.017908
random_variable2               -0.022397
zone4_humidity                 -0.035728
zone2_humidity                 -0.087923
zone5_humidity                 -0.088448
atmospheric_pressure           -0.090521
zone3_humidity                 -0.118322
zone7_humidity                 -0.145297
zone9_humidity                 -0.192133
zone6_humidity                 -0.220800
outdoor_humidity               -0.237584
zone8_humidity                 -0.237747
lighting_energy                      NaN
Name: equipment_energy_consumption, dtype: float64

In [84]:
#corelation improved

In [85]:
df_clean.shape

(3978, 32)

In [86]:
#but we cant afford it as we lost almost 13k records

In [87]:
#lets try to relax the factor from 1.5 to 2

In [88]:
# Define a function to remove outliers using IQR
def remove_outliers_iqr(df, cols):
    for col in cols:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower = Q1 - 2.0 * IQR
        upper = Q3 + 2.0 * IQR
        df = df[(df[col] >= lower) & (df[col] <= upper)]
    return df

# Remove outliers for key numerical columns
df_clean = remove_outliers_iqr(df.copy(), df.select_dtypes(include='number').columns)

# Recalculate correlation
correlations_clean = df_clean.corr(numeric_only=True)['equipment_energy_consumption'].sort_values(ascending=False)
print(correlations_clean)

equipment_energy_consumption    1.000000
hour                            0.355239
zone8_temperature               0.313576
zone2_temperature               0.290109
zone1_temperature               0.275558
zone6_temperature               0.242883
zone3_temperature               0.235343
zone4_temperature               0.234114
zone9_temperature               0.232814
zone7_temperature               0.229812
outdoor_temperature             0.228048
zone5_temperature               0.219309
month                           0.178495
dew_point                       0.055056
wind_speed                      0.024220
visibility_index                0.014837
minute                         -0.005683
day                            -0.010808
random_variable1               -0.018875
random_variable2               -0.022214
zone1_humidity                 -0.030476
atmospheric_pressure           -0.096243
zone5_humidity                 -0.115400
zone4_humidity                 -0.117746
zone2_humidity                 -0.150583
zone3_humidity                 -0.163343
zone7_humidity                 -0.200935
zone9_humidity                 -0.221416
zone6_humidity                 -0.268028
outdoor_humidity               -0.272856
zone8_humidity                 -0.276771
lighting_energy                      NaN
Name: equipment_energy_consumption, dtype: float64

In [92]:
#slightly increased but dta has been lost so need to do clipping

In [93]:
df_clean.shape

(4943, 32)

In [94]:
def cap_outliers_iqr(df, cols, factor=1.5):
    df_capped = df.copy()
    for col in cols:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower = Q1 - factor * IQR
        upper = Q3 + factor * IQR
        df_capped[col] = df[col].clip(lower, upper)
    return df_capped

# Apply to all numeric columns or a subset
numeric_cols = df.select_dtypes(include='number').columns
df_capped = cap_outliers_iqr(df, numeric_cols, factor=1.5)

In [95]:
df_capped.shape

(14628, 32)

In [96]:
#well this is not bad

In [97]:
correlations_clean = df_capped.corr(numeric_only=True)['equipment_energy_consumption'].sort_values(ascending=False)
print(correlations_clean)

equipment_energy_consumption    1.000000
hour                            0.343576
lighting_energy                 0.263177
zone2_temperature               0.209005
zone6_temperature               0.163289
zone1_temperature               0.159118
zone3_temperature               0.156701
outdoor_temperature             0.149608
zone8_temperature               0.133746
zone4_temperature               0.121905
zone5_temperature               0.089474
zone1_humidity                  0.088047
zone7_temperature               0.077066
wind_speed                      0.072066
zone9_temperature               0.069979
dew_point                       0.047787
month                           0.037614
zone3_humidity                  0.010769
visibility_index                0.003008
minute                         -0.000609
random_variable2               -0.006871
zone5_humidity                 -0.008816
zone4_humidity                 -0.008882
random_variable1               -0.009213
day                            -0.021042
atmospheric_pressure           -0.061458
zone2_humidity                 -0.068219
zone7_humidity                 -0.094976
zone9_humidity                 -0.110644
zone6_humidity                 -0.122286
zone8_humidity                 -0.155511
outdoor_humidity               -0.183012
Name: equipment_energy_consumption, dtype: float64

In [98]:
# this iss better than removing outlires as we didnt loose much data

In [99]:
# as i can see there are some cols which does not have much corelation with our target value

In [100]:
#so we will remove them (they are not much useful and dont affect insights )

In [101]:
# List of columns to drop
cols_to_drop = [
    'minute', 
    'visibility_index', 
    'zone3_humidity', 
    'zone4_humidity', 
    'zone5_humidity', 
    'random_variable1', 
    'random_variable2', 
    'day'
]

In [102]:
df_reduced = df_capped.drop(cols_to_drop, axis=1)

In [103]:
df_reduced.head()

,equipment_energy_consumption,lighting_energy,zone1_temperature,zone1_humidity,zone2_temperature,zone2_humidity,zone3_temperature,zone4_temperature,zone5_temperature,zone6_temperature,...,zone8_humidity,zone9_temperature,zone9_humidity,outdoor_temperature,atmospheric_pressure,outdoor_humidity,wind_speed,dew_point,month,hour
1,60.0,25.0,19.89,46.693333,19.2,44.722500,19.79,19.00,17.166667,6.833333,...,48.863333,17.066667,45.560000,6.483333,735.125,92.0,6.666667,5.200000,1,17
2,50.0,25.0,19.89,46.300000,19.2,44.626667,19.79,24.24,19.100000,6.560000,...,48.730000,17.000000,45.500000,6.366667,735.125,92.0,6.333333,5.100000,1,17
3,50.0,25.0,24.35,46.066667,19.2,44.590000,19.79,20.29,17.166667,6.433333,...,55.957440,17.000000,45.400000,6.250000,735.125,92.0,6.000000,11.958333,1,17
4,60.0,25.0,19.89,46.333333,19.2,44.530000,19.79,18.89,17.200000,6.366667,...,48.590000,14.575000,45.400000,6.133333,735.125,92.0,5.666667,4.900000,1,17
5,50.0,25.0,19.89,46.026667,19.2,44.500000,19.79,18.89,19.100000,6.300000,...,48.590000,17.000000,40.446429,6.016667,735.125,92.0,5.333333,4.800000,1,17

In [105]:
#now u can see number of colums has been reduced

In [106]:
#now we can to train_test_split

In [107]:
from sklearn.model_selection import train_test_split

x = df_reduced.drop(columns=['equipment_energy_consumption'])
y = df_reduced['equipment_energy_consumption']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [108]:
x

,lighting_energy,zone1_temperature,zone1_humidity,zone2_temperature,zone2_humidity,zone3_temperature,zone4_temperature,zone5_temperature,zone6_temperature,zone6_humidity,...,zone8_humidity,zone9_temperature,zone9_humidity,outdoor_temperature,atmospheric_pressure,outdoor_humidity,wind_speed,dew_point,month,hour
1,25.0,19.890000,46.693333,19.200000,44.722500,19.79,19.00,17.166667,6.833333,84.063333,...,48.863333,17.066667,45.560000,6.483333,735.125000,92.000000,6.666667,5.200000,1,17
2,25.0,19.890000,46.300000,19.200000,44.626667,19.79,24.24,19.100000,6.560000,83.156667,...,48.730000,17.000000,45.500000,6.366667,735.125000,92.000000,6.333333,5.100000,1,17
3,25.0,24.350000,46.066667,19.200000,44.590000,19.79,20.29,17.166667,6.433333,83.423333,...,55.957440,17.000000,45.400000,6.250000,735.125000,92.000000,6.000000,11.958333,1,17
4,25.0,19.890000,46.333333,19.200000,44.530000,19.79,18.89,17.200000,6.366667,84.893333,...,48.590000,14.575000,45.400000,6.133333,735.125000,92.000000,5.666667,4.900000,1,17
5,25.0,19.890000,46.026667,19.200000,44.500000,19.79,18.89,19.100000,6.300000,85.766667,...,48.590000,17.000000,40.446429,6.016667,735.125000,92.000000,5.333333,4.800000,1,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16852,20.0,22.100000,38.723333,19.790000,39.566667,21.29,21.39,19.100000,4.660000,35.656667,...,36.900000,18.100000,40.090000,5.816667,761.466667,68.333333,2.000000,0.366667,7,20
16853,25.0,21.290000,39.626667,18.100000,44.290000,22.39,20.29,19.847143,1.500000,54.626667,...,38.236000,20.200000,44.500000,3.683333,752.250000,96.666667,1.000000,3.150000,7,6
16854,0.0,21.390000,37.590000,18.463333,39.966667,21.10,20.60,18.290000,1.826667,59.126667,...,41.360000,18.100000,40.200000,1.750000,763.000000,84.166667,1.000000,-0.633333,7,0
16855,0.0,22.500000,39.360000,23.600000,35.730000,23.10,22.29,20.937143,19.166667,3.600000,...,39.500000,21.100000,39.530000,16.800000,750.166667,50.333333,6.000000,6.266667,7,13
16856,0.0,20.066667,43.863333,19.133333,42.863333,19.89,19.60,17.700000,7.000000,76.833333,...,46.223333,17.166667,43.790000,6.400000,743.883333,81.000000,4.166667,3.400000,7,15

In [109]:
y

1         60.0
2         50.0
3         50.0
4         60.0
5         50.0
         ...
16852    175.0
16853     50.0
16854     50.0
16855     80.0
16856     30.0
Name: equipment_energy_consumption, Length: 14628, dtype: float64

In [110]:
#we have split our data into train(70%) and test(30%)

In [111]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(x_train, y_train)

RandomForestRegressor(random_state=42)

In [112]:
#now we can predict but we also need to do evaluation

In [113]:
#will evaluate based on R square,RMSE,MAE

In [114]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

y_pred = rf.predict(x_test)

print("MAE:", mean_absolute_error(y_test, y_pred))
print("RMSE:", np.sqrt(mean_squared_error(y_test, y_pred)))
print("R² Score:", r2_score(y_test, y_pred))

MAE: 19.459557985873776
RMSE: 28.668716094804335
R² Score: 0.580524684509008

conclusion:

The model explains about 58% of the variance in equipment energy consumption. This is a moderate performance

In [117]:
import xgboost as xgb

xg_model = xgb.XGBRegressor(objective='reg:squarederror', n_estimators=100, learning_rate=0.1, random_state=42)
xg_model.fit(x_train, y_train)

# Predict
y_pred = xg_model.predict(x_test)

# Evaluate
mae = mean_absolute_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
r2 = r2_score(y_test, y_pred)

print(f"MAE: {mae}")
print(f"RMSE: {rmse}")
print(f"R² Score: {r2}")

MAE: 21.061897642874833
RMSE: 30.162312638961637
R² Score: 0.5356780699143882

C:\Users\bhatk\AppData\Roaming\Python\Python312\site-packages\sklearn\metrics\_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [119]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)

# Predict
y_pred = lr.predict(x_test)

# Evaluate
mae = mean_absolute_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
r2 = r2_score(y_test, y_pred)

print(f"MAE: {mae}")
print(f"RMSE: {rmse}")
print(f"R² Score: {r2}")

MAE: 29.141415344266463
RMSE: 39.636462172853086
R² Score: 0.19817482230081218

C:\Users\bhatk\AppData\Roaming\Python\Python312\site-packages\sklearn\metrics\_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [120]:
#random forest works better thaan other models